<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="box">
        {{#if errors}}
        <div class="error-box">
            {{#each errors}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}
        <nav>
            <img src="/static/img/art-logo.png" alt="logo">
            <a href="/">ArtGallery</a>
            <ul class="menu">
                <li><a href="/gallery">Gallery</a></li>
                {{#if username}}
                <li><a href="/publication/create">Create Publication</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                {{else}}
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
        {{{body}}}
        <footer>
            © Js Back-End Art-Gallery
        </footer>
    </div>
</body>
</html>