<main>
    <section class="crypto-search">
        <h1>Search</h1>
        <form class="search-form" action="/search" method="post">
            <input type="text" class="search-coin" name="search" placeholder="Search here..." value="{{search}}">
            <select id="payment" name="paymentMethod">
                <option value="crypto-wallet" {{#if check.isWallet}} selected{{/if}}>Crypto Wallet</option>
                <option value="credit-card" {{#if check.isCredit}} selected{{/if}}>Credit Card</option>
                <option value="debit-card" {{#if check.isDebit}} selected{{/if}}>Debit Card</option>
                <option value="paypal" {{#if check.isPaypal}} selected{{/if}}>PayPal</option>
            </select>
            <button type="submit" class="btn-search">Search</button>
        </form>
        {{#if result}}
            {{#each result}}
                {{> search-coin}}
            {{/each}}
        {{else}}
            <div class="no-match">
                <p>No match was found!</p>
            </div>
        {{/if}}
    </section>
</main>